Showing a Clean Data Frame With No Empty Values With Emphasis on Mid-Career Median Salary

In [34]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

df = pd.read_csv('salaries_by_college_major.csv')
clean_df = df.dropna()

mid_career_mean = clean_df.groupby('Group').mean('Mid-Career Median Salary')
print(mid_career_mean)

          Starting Median Salary  Mid-Career Median Salary  \
Group
Business               44,633.33                 75,083.33
HASS                   37,186.36                 62,968.18
STEM                   53,862.50                 90,812.50

          Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
Group
Business                          43,566.67                         147,525.00
HASS                              34,145.45                         129,363.64
STEM                              56,025.00                         157,625.00

Showing Shape of the Data Frame

In [3]:
print(clean_df.shape)

(50, 6)

Using the Head Method for the Data Frame

In [35]:
print(clean_df.head())

     Undergraduate Major  Starting Median Salary  Mid-Career Median Salary  \
0             Accounting               46,000.00                 77,100.00
1  Aerospace Engineering               57,700.00                101,000.00
2            Agriculture               42,600.00                 71,900.00
3           Anthropology               36,800.00                 61,500.00
4           Architecture               41,600.00                 76,800.00

   Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary  \
0                          42,200.00                         152,000.00
1                          64,300.00                         161,000.00
2                          36,300.00                         150,000.00
3                          33,800.00                         138,000.00
4                          50,600.00                         136,000.00

      Group
0  Business
1      STEM
2  Business
3      HASS
4  Business

Using the Tail Method for the Data Frame

In [5]:
print(clean_df.tail())

   Undergraduate Major  Starting Median Salary  Mid-Career Median Salary  \
45   Political Science                 40800.0                   78200.0
46          Psychology                 35900.0                   60400.0
47            Religion                 34100.0                   52000.0
48           Sociology                 36500.0                   58200.0
49             Spanish                 34000.0                   53100.0

    Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary Group
45                            41200.0                           168000.0  HASS
46                            31600.0                           127000.0  HASS
47                            29700.0                            96400.0  HASS
48                            30700.0                           118000.0  HASS
49                            31000.0                            96400.0  HASS

College Major Data Frame Descending Starting Median Salary

In [19]:
print(clean_df[['Undergraduate Major', 'Starting Median Salary']].sort_values('Starting Median Salary', ascending=False))

                     Undergraduate Major  Starting Median Salary
43                   Physician Assistant                 74300.0
8                   Chemical Engineering                 63200.0
12                  Computer Engineering                 61400.0
19                Electrical Engineering                 60900.0
38                Mechanical Engineering                 57900.0
1                  Aerospace Engineering                 57700.0
30                Industrial Engineering                 57700.0
13                      Computer Science                 55900.0
40                               Nursing                 54200.0
10                     Civil Engineering                 53900.0
14                          Construction                 53700.0
44                               Physics                 50300.0
17                             Economics                 50100.0
35  Management Information Systems (MIS)                 49200.0
31           Information Technology (IT)                 49100.0
22                               Finance                 47900.0
0                             Accounting                 46000.0
37                                  Math                 45400.0
25                               Geology                 43500.0
7                    Business Management                 43000.0
2                            Agriculture                 42600.0
9                              Chemistry                 42600.0
4                           Architecture                 41600.0
24                             Geography                 41200.0
33               International Relations                 40900.0
45                     Political Science                 40800.0
36                             Marketing                 40800.0
42                            Philosophy                 39900.0
41                             Nutrition                 39900.0
28                               History                 39200.0
23                              Forestry                 39100.0
27            Health Care Administration                 38800.0
6                                Biology                 38800.0
11                        Communications                 38100.0
20                               English                 38000.0
21                                  Film                 37900.0
29                 Hospitality & Tourism                 37800.0
3                           Anthropology                 36800.0
48                             Sociology                 36500.0
32                       Interior Design                 36100.0
46                            Psychology                 35900.0
39                                 Music                 35900.0
16                                 Drama                 35900.0
5                            Art History                 35800.0
26                        Graphic Design                 35700.0
34                            Journalism                 35600.0
15                      Criminal Justice                 35000.0
18                             Education                 34900.0
47                              Religion                 34100.0
49                               Spanish                 34000.0

Showing Data With Highest Difference from Mid-Career 90th Percentile and 10th Percentile

In [28]:
difference = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(loc=2, column='Spread', value=difference)
clean_df

                     Undergraduate Major  Starting Median Salary    Spread  \
0                             Accounting                 46000.0  109800.0
1                  Aerospace Engineering                 57700.0   96700.0
2                            Agriculture                 42600.0  113700.0
3                           Anthropology                 36800.0  104200.0
4                           Architecture                 41600.0   85400.0
5                            Art History                 35800.0   96200.0
6                                Biology                 38800.0   98100.0
7                    Business Management                 43000.0  108200.0
8                   Chemical Engineering                 63200.0  122100.0
9                              Chemistry                 42600.0  102700.0
10                     Civil Engineering                 53900.0   84600.0
11                        Communications                 38100.0  105500.0
12                  Computer Engineering                 61400.0   95900.0
13                      Computer Science                 55900.0   98000.0
14                          Construction                 53700.0  114700.0
15                      Criminal Justice                 35000.0   74800.0
16                                 Drama                 35900.0  116300.0
17                             Economics                 50100.0  159400.0
18                             Education                 34900.0   72700.0
19                Electrical Engineering                 60900.0   98700.0
20                               English                 38000.0   99600.0
21                                  Film                 37900.0  102100.0
22                               Finance                 47900.0  147800.0
23                              Forestry                 39100.0   70000.0
24                             Geography                 41200.0   92000.0
25                               Geology                 43500.0  111000.0
26                        Graphic Design                 35700.0   76000.0
27            Health Care Administration                 38800.0   66400.0
28                               History                 39200.0  112000.0
29                 Hospitality & Tourism                 37800.0   88500.0
30                Industrial Engineering                 57700.0  115900.0
31           Information Technology (IT)                 49100.0   84500.0
32                       Interior Design                 36100.0   71300.0
33               International Relations                 40900.0  118800.0
34                            Journalism                 35600.0  106600.0
35  Management Information Systems (MIS)                 49200.0  100700.0
36                             Marketing                 40800.0  132900.0
37                                  Math                 45400.0  137800.0
38                Mechanical Engineering                 57900.0   99300.0
39                                 Music                 35900.0  107300.0
40                               Nursing                 54200.0   50700.0
41                             Nutrition                 39900.0   65300.0
42                            Philosophy                 39900.0  132500.0
43                   Physician Assistant                 74300.0   57600.0
44                               Physics                 50300.0  122000.0
45                     Political Science                 40800.0  126800.0
46                            Psychology                 35900.0   95400.0
47                              Religion                 34100.0   66700.0
48                             Sociology                 36500.0   87300.0
49                               Spanish                 34000.0   65400.0

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
0                    77100.0                            42200.0
1                   101000.0                            64300.0
2                    71900.0                            36300.0
3                    61500.0                            33800.0
4                    76800.0                            50600.0
5                    64900.0                            28800.0
6                    64800.0                            36900.0
7                    72100.0                            38800.0
8                   107000.0                            71900.0
9                    79900.0                            45300.0
10                   90500.0                            63400.0
11                   70000.0                            37500.0
12                  105000.0                            66100.0
13                   95500.0                            56000.0
14                   88900.0                            56300.0
15                   56300.0                            32200.0
16                   56900.0                            36700.0
17                   98600.0                            50600.0
18                   52000.0                            29300.0
19                  103000.0                            69300.0
20                   64700.0                            33400.0
21                   68500.0                            33900.0
22                   88300.0                            47200.0
23                   62600.0                            41000.0
24                   65500.0                            40000.0
25                   79500.0                            45000.0
26                   59800.0                            36000.0
27                   60600.0                            34600.0
28                   71000.0                            37000.0
29                   57500.0                            35500.0
30                   94700.0                            57100.0
31                   74800.0                            44500.0
32                   53200.0                            35700.0
33                   80900.0                            38200.0
34                   66700.0                            38400.0
35                   82300.0                            45300.0
36                   79600.0                            42100.0
37                   92400.0                            45200.0
38                   93600.0                            63700.0
39                   55000.0                            26700.0
40                   67000.0                            47600.0
41                   55300.0                            33900.0
42                   81200.0                            35500.0
43                   91700.0                            66400.0
44                   97300.0                            56000.0
45                   78200.0                            41200.0
46                   60400.0                            31600.0
47                   52000.0                            29700.0
48                   58200.0                            30700.0
49                   53100.0                            31000.0

    Mid-Career 90th Percentile Salary     Group
0                            152000.0  Business
1                            161000.0      STEM
2                            150000.0  Business
3                            138000.0      HASS
4                            136000.0  Business
5                            125000.0      HASS
6                            135000.0      STEM
7                            147000.0  Business
8                            194000.0      STEM
9                            148000.0      STEM
10                           148000.0      STEM
11                           143000.0      HASS
12                           162000.0      STEM
13                           154000.0      STEM
14                           171000.0  Business
15                           107000.0      HASS
16                           153000.0      HASS
17                           210000.0  Business
18                           102000.0      HASS
19                           168000.0      STEM
20                           133000.0      HASS
21                           136000.0      HASS
22                           195000.0  Business
23                           111000.0  Business
24                           132000.0      HASS
25                           156000.0      STEM
26                           112000.0      HASS
27                           101000.0  Business
28                           149000.0      HASS
29                           124000.0  Business
30                           173000.0      STEM
31                           129000.0      STEM
32                           107000.0      HASS
33                           157000.0      HASS
34                           145000.0      HASS
35                           146000.0      STEM
36                           175000.0  Business
37                           183000.0      STEM
38                           163000.0      STEM
39                           134000.0      HASS
40                            98300.0  Business
41                            99200.0      HASS
42                           168000.0      HASS
43                           124000.0      STEM
44                           178000.0      STEM
45                           168000.0      HASS
46                           127000.0      HASS
47                            96400.0      HASS
48                           118000.0      HASS
49                            96400.0      HASS

Average Salary of College Degree By Group

In [36]:
groups = clean_df.groupby('Group').mean('Mid-Career Median Salary')
groups

          Starting Median Salary  Mid-Career Median Salary  \
Group
Business               44,633.33                 75,083.33
HASS                   37,186.36                 62,968.18
STEM                   53,862.50                 90,812.50

          Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
Group
Business                          43,566.67                         147,525.00
HASS                              34,145.45                         129,363.64
STEM                              56,025.00                         157,625.00